// Colors
$primary: white;
$secondary: #1d1f2e;

// Fonts
$font-family-sans-serif: Karla;
$font-family-monospace: Karla;

// Base 
.line {
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: #1d1f2e1a;;
}

// Header
.header {
    background-color: #050827;
    &-section {
        background-image: url("../assets/backgrund.png");
        background-size: cover;
        background-position: center;
    }
}

// About
.about {
    &-section {
        height: 400px;
        max-width: 700px;
        margin: 0 auto;
    }
    &-btn {
        color: rgba(162, 95, 75, 1) !important;
        padding-bottom: 0.5em;
        border-bottom: 2px solid rgba(162, 95, 75, .3);
        text-decoration: none;
    }   
}

// Featured 
.featured {
    &-title {
        letter-spacing: 2px;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    &-card {
        &__subtitle {
            .price {
                color: rgba(162, 95, 75, 1);
            }
        }
    }
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1000px,
  xxl: 1320px
);


// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

